.xmnews {
}

.xm-category-list {
    margin-bottom: 10px;
}

.xm-category-list img {
    max-width: 100%;
}

a.xm-category-image {
    margin: 10px 0 10px 0;
    display: block;
    text-align: center;
    max-height: 130px;
    min-height: 130px;
}

.xm-news-general {
    padding-bottom: 5px;
}

.xm-news-general-button {
    text-align: center;
	padding-top: 15px;
}

.xm-news-general.row {
    font-weight: bold;
    color: #999;
    font-size: 1em;
}

.xm-news-index-button {
    text-align: right;
	padding-top: 15px;
}

.xm-news-index-info {
    color: #999;
	font-size: 0.9em;
}


