.xmnews {
}

.xmnews-category-list {
    margin-bottom: 10px;
}

.xmnews-category-list img {
    max-width: 100%;
}

a.xmnews-category-image {
    margin: 10px 0 10px 0;
    display: block;
    text-align: center;
    max-height: 130px;
    min-height: 130px;
}

.xmnews-general {
    padding-bottom: 5px;
}

.xmnews-general-button {
    text-align: center;
	padding-top: 15px;
}

.xmnews-general.row {
    font-weight: bold;
    color: #999;
    font-size: 1em;
}

.xmnews-index-button {
    text-align: right;
	padding-top: 15px;
}

.xmnews-index-info {
    color: #999;
	font-size: 0.9em;
}

.xmnews-minibox {
    margin-bottom: 20px;
}

.xmnews-logo {
    max-height: 150px;
    text-align: center;
    overflow: hidden;
}

.xmnews-title {
    font-size: 1.3em;
    line-height: inherit;
    margin: 0 0 5px 0;
}
.xmnews-data.row {
    font-weight: bold;
    color: #999;
    font-size: 0.8em;
}

.xmnews-data {
    padding-bottom: 5px;
    border-bottom: 1px dashed #999;
}

.xmnews-short-description {
    overflow: hidden;
    text-align: justify;
    margin: 5px 0 5px 0;
}

@media (min-width: 0px) {
  .card-columns {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0.75rem;
            column-gap: 0.75rem;
    margin-right: 30px;
    margin-left: 30px;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 0.75rem;
            column-gap: 0.75rem;
    margin-right: 15px;
    margin-left: 15px;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 0.75rem;
            column-gap: 0.75rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 0.75rem;
            column-gap: 0.75rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 4;
            column-count: 4;
    -webkit-column-gap: 0.75rem;
            column-gap: 0.75rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}



